__pycache__/
*.py[oc]
*.pyc 
*.pyo
*.pyd
build/
dist/
wheels/
logs/
*.jsonl
*.log
*.egg-info


logs/
chroma_db/
tests/
*.sqlite3
*.parquet
*.bin

# Virtual environments
.venv/
*.env
env/
venv/

.uv/

.vscode/
.idea/
.DS_Store


tests/
notebooks/
*.ipynb

.env
.env.local

.git
.gitignore